doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Tarang: Music Club
    link(
      rel="stylesheet",
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    )
    link(rel="stylesheet", href="/css/custom.css")
  body
    block navbar
      nav.navbar.is-info(role="navigation", aria-label="main navigation")
        .container
          .navbar-brand
            a.navbar-item.is-size-4(href="/") Tarang
            a.navbar-burger(
              role="button",
              aria-label="menu",
              aria-expanded="false",
              data-target="navbarCollapsible"
            )
              span(aria-hidden="true")
              span(aria-hidden="true")
              span(aria-hidden="true")
          #navbarCollapsible.navbar-menu
            .navbar-end
              a.navbar-item(href="/") Home
              a.navbar-item(href="/coordinators") Coordinators
              a.navbar-item(href="/contact") Contact

    script(src="js/navbar.js")

  main
    block content

